/* Dark Mode */
body.dark-mode {
  background: #121212;
  color: white;
}

.dark-mode .app-container {
  background: #1e1e1e;
  color: white;
}

.dark-mode a {
  color: #bb86fc;
}

.dark-mode .toggle-btn {
  border: 1px solid #bb86fc;
}
